@page
@model HotelManagement.Pages.RoomInfo.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Details of Room</h4>
    <hr />
    <table class="table table-dark table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Room.RoomType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room.RoomNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Room.Price)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Room.RoomType)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Room.RoomNo)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Room.Price)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" type="button" class="btn btn-secondary" asp-route-id="@Model.Room.Id">Edit</a>
    <a asp-page="./Index" type="button" class="btn btn-secondary">Back to List</a>
</div>
